@model PartyWifi.Server.Controllers.AdminController.AdminModel

@{
    ViewBag.Title = "Verwalten";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<form>
    <label>Rotation Time: </label>
    <input type="text" value="@Model.RotationTime">
</form>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Export
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
@{
    foreach(var directory in Model.ExportDirectories)
    {
        <li><a onclick="exportImgs('@directory')">@directory</a></li>
    }
}
  </ul>
</div>

@Html.Partial("Pagination", Model)

<table class="table table-striped">
    <thead>
    <tr>
        <th>Bild</th>
        <th>Name</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
        @{
            foreach (var file in Model.Files)
            {
                @Html.Partial("FileEntry", file)
            }
        }
    </tbody>
</table>

@Html.Partial("Pagination", Model)