<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - PartyWifi</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/partywifi.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/partywifi.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsContainer" aria-controls="navbarsContainer" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PartyWifi</a>

            <div class="collapse navbar-collapse" id="navbarsContainer">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Files" asp-action="Index">
                            <i class="fa fa-picture-o" aria-hidden="true"></i> Dateien
                        </a>
                    </li>
                    <!-- Remove items for noew till we have a user model
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                            <i class="fa fa-cogs" aria-hidden="true"></i> Verwalten
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Slideshow" asp-action="Index" target="_blank">
                            <i class="fa fa-slideshare" aria-hidden="true"></i> Slideshow
                        </a>
                    </li>
                    -->
                </ul>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <a href="https://www.partywifi.com" target="_blank">&copy; @DateTime.Now.Year - PartyWifi</a>
            </footer>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/tether/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Knockout -->
    <script src='~/lib/knockout/knockout-latest.js'></script>

    <!-- Magnific Popup -->
    <script src='~/lib/magnific-popup/jquery.magnific-popup.min.js'></script>

    <!-- PartyWifi -->
    <environment names="Development">
        <script src='~/js/partywifi.js'></script>
    </environment>
    <environment names="Staging,Production">
        <script src='~/js/partywifi.min.js'></script>
    </environment>

    <!-- Other scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>