@model List<WeFiBox.Web.Controllers.FileListEntry>

@{
    ViewBag.Title = "Datei-Liste";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Bild</th>
        <th>Name</th>
        <th>Größe</th>
        <th>Datum</th>
    </tr>
    </thead>
    <tbody>
        @{
            foreach (var fileListEntry in Model)
            {
                <tr>
                    <td><img width="200" src="@fileListEntry.PublicUrl"/></td>
                    <td>@fileListEntry.Name</td>
                    <td>@fileListEntry.Size</td>
                    <td>@fileListEntry.UploadDate</td>
                </tr>
            }
        }
    </tbody>
</table>